body, html {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #eaeaea;
  font-family: Arial, sans-serif;
}


.app {
  width: 90%;
  max-width: 800px;
  padding: 30px;
  background-color: #ffffff;
  color: #333;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.app:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

 h1 {
  color: #2e7d32;
  text-align: center;
  margin-bottom: 30px;
  font-size: 24px;
 }
 
 form {
  background-color: #4f8a4f;
  padding: 20px;
  border-radius: 5px;
  margin: 0 auto 20px auto;
  width: 90%;
  max-width: 800px;
 }
 
 form input, 
 form select,
 form textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
 }
 
 .task-item {
  padding: 20px;
  margin-bottom: 15px;
  border-radius: 5px;
  text-align: left;
  color: white;
  position: relative;
 }
 
 .task-item.pending {
  background-color: #dd0b0b;
  color: black;
 }
 
 .task-item.in.progress {
  background-color: #eb9d0c;
 }
 
 .task-item.completed {
  background-color: #2e7d32;
 }
 
 
 .task-item p {
  margin: 8px 0;
  line-height: 1.4;
 }
 

 
 .task-item button {
  margin-left: 10px;
  padding: 8px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
 }